.example{
     display: flex;
    position: fixed;
    vertical-align: middle;
    flex-direction: column; 
    height:71%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 6%;
    left: 90%; 
    background-color:pink;
    overflow-x: hidden;
     padding-left: 90px;
     padding-bottom:0px;
     padding-top:5px;
     
}