<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>My Website</mat-icon>
        </button>
    </div>
  
  </mat-toolbar>

  <mat-nav-list class="example">
      <a mat-list-item routerLink="/sign-up" (click)="onSidenavClose()">
         <span class="nav-caption">Sign-up</span>
      </a>
      <a mat-list-item  routerLink="/login" (click)="onSidenavClose()">
           <span class="nav-caption">Login</span>   
      </a>
      <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
         <span class="nav-caption">Home</span>
      </a>
    </mat-nav-list>


    <mat-toolbar color='primary'  class='example1'>
           
        <h3>©viitorcloud 2019.</h3>
     
    </mat-toolbar>